-- See https://github.com/OHDSI/Vocabulary-v5.0/blob/master/UMLS/create_source_tables.sql

CREATE TABLE MRCONSO ( CUI CHAR(8), LAT CHAR(3), TS CHAR(1), LUI VARCHAR(10), STT VARCHAR(3), SUI VARCHAR(10), ISPREF CHAR(1), AUI VARCHAR(9) NOT NULL, SAUI VARCHAR(50), SCUI VARCHAR(100), SDUI VARCHAR(100), SAB VARCHAR(40), TTY VARCHAR(40), CODE VARCHAR(100), STR VARCHAR(3000), SRL INT , SUPPRESS CHAR(1), CVF INT, FILLER_COLUMN INT );

CREATE TABLE MRREL ( CUI1 CHAR(8), AUI1 VARCHAR(9), STYPE1 VARCHAR(50), REL VARCHAR(4), CUI2 CHAR(8), AUI2 VARCHAR(9), STYPE2 VARCHAR(50), RELA VARCHAR(100), RUI VARCHAR(10), SRUI VARCHAR(50), SAB VARCHAR(40), SL VARCHAR(40), RG VARCHAR(10), DIR VARCHAR(1), SUPPRESS CHAR(1), CVF INT, FILLER_COLUMN INT );
